<H2>WE HAVE THE FOLLOWING PIZZAS</H2>

 <section class="pizza-list">
     <div class="container">
         <div class="row">

             <div class="col-lg-3">
                 <div class="single-pizza">
                     <figure>
                            <a href="#"><img src="img/2.jpg" alt=""></a>
                            <div class="p-status">new</div>
                        </figure>
                        <div class="product-text">
                            <h6>pizza1</h6>
                            <p>$22.90</p>
                            <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                        </div>
                 </div>
             </div>
             <div class="col-lg-3">
                 <div class="single-pizza">
                     <figure>
                            <a href="#"><img src="img/2.jpg" alt=""></a>
                            <div class="p-status">new</div>
                        </figure>
                        <div class="product-text">
                            <h6>pizza2</h6>
                            <p>$22.90</p>
                            <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                        </div>
                 </div>
             </div>
             <div class="col-lg-3">
                 <div class="single-pizza">
                     <figure>
                            <a href="#"><img src="img/2.jpg" alt=""></a>
                            <div class="p-status">new</div>
                        </figure>
                        <div class="product-text">
                            <h6>pizza3</h6>
                            <p>$22.90</p>
                            <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                        </div>
                 </div>
             </div>
             <div class="col-lg-3">
                 <div class="single-pizza">
                     <figure>
                            <a href="#"><img src="img/2.jpg" alt=""></a>
                            <div class="p-status">new</div>
                        </figure>
                        <div class="product-text">
                            <h6>pizza4</h6>
                            <p>$22.90</p>
                            <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                        </div>
                 </div>
             </div>

<div id="orders">

</div>


         </div>
     </div>
 </section>