 <section class="notebook-hero">
            <h1>Hey Look, It's Every Bootstrap Website Ever</h1>
            <p>Take a look around at the same wonderful bootstrap page you've seen ten million times before! Featuring all the same things as those pages!</p>
            <a href="#call-me" class="btn btn-lg">This button makes the page scroll</a>
        </section>


<!------------pizza lists starts-------------------->

<section class="pizza-list">
    <div class="container">
        <div class="row">

            <div class="col-lg-3">
                <div class="box1">
                    <img src="img/2.jpg" alt="">
                    <h3 class="title">Margherita<br> $80</h3>
                    <ul class="icon">
                        <li><a><i href="#myModal" class="add-to-cart-btn fas fa-shopping-cart" data-toggle='modal'
                                    id="Margherita">
                                </i></a href="#myModal">
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="box1">
                    <img src="img/pepperoni.jpg" alt="">
                    <h3 class="title">pepperoni<br> $80</h3>
                    <ul class="icon">
                        <li><a><i href="#myModal" class="add-to-cart-btn fas fa-shopping-cart" data-toggle='modal'
                                    id="pepperoni">
                                </i></a href="#myModal">
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="box1">
                    <img src="img/pesto.jpg" alt="">
                    <h3 class="title">pizza-al-pesto<br> $80</h3>
                    <ul class="icon">
                        <li><a><i href="#myModal" class="add-to-cart-btn fas fa-shopping-cart" data-toggle='modal'
                                    id="pizza-al-pesto">
                                </i></a href="#myModal">
                        </li>

                    </ul>
                </div>
            </div>


            <!---Tonno---->
            <div class="col-lg-3">
                <div class="single-pizza">
                    <figure>
                        <div class="box1">
                            <img src="img/tonno.jpg" alt="">
                            <h3 class="title">Tonno<br> $80</h3>
                            <ul class="icon">
                                <li><a><i href="#myModal" class="add-to-cart-btn fas fa-shopping-cart"
                                            data-toggle='modal' id="tonno">
                                        </i></ahref="#myModal">
                                </li>

                            </ul>
                        </div>

                    </figure>
                </div>
            </div>


        </div>
    </div>



<!------------confirmation box-------------------->

    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE876;</i>
                    </div>
                    <h4 class="modal-title">Awesome!</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">Your order has been successfully added!</p>
                </div>
                <div class="modal-footer">
                    <button class="btn-confirmation btn-success btn-block" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!------------numbercounter starts-------------------->
<div class="container-fluid">
		<div class="row stat">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="milestone-counter">
                    <i class="fa fa-user fa-3x"></i>
                    <span class="stat-count highlight">122</span>
                    <div class="milestone-details">Happy Customers</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="milestone-counter">
                    <i class="fa fa-coffee fa-3x"></i>
                    <span class="stat-count highlight">100</span>
                    <div class="milestone-details">Ordered Coffee's</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="milestone-counter">
                    <i class="fa fa-trophy fa-3x"></i>
                    <span class="stat-count highlight">140</span>
                    <div class="milestone-details">Awards Win</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="milestone-counter">
                    <i class="fa fa-camera fa-3x"></i>
                    <span class="stat-count highlight">500</span>
                    <div class="milestone-details">Photos Taken</div>
                </div>
            </div>
		</div><!-- stat -->
	</div>