i {
    font-size: 60px;
}

#red {
    color: #FF0000;
}

.section {
    height: 600px;
    width: 100%;
}

.red{
    background-color: #FF0000;
}

.blue{
    background-color: #0000ff;
}

.green{
    background-color:#00ff00;
}

.fourPictures .words {
opacity: 0;
transition: 4s;
background: #000000;
position: absolute;
top:0;
bottom: 0;
left:0;
right:0;

}

.fourPictures .words:hover {
    opacity: 1;
}

.active {
    color: #800080 !important;
    font-weight: 900;
}

.navbar {
    position: fixed;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 0.6%;
    display: flex; 
    box-shadow: 5px 10px 50px -50px black;
}
.scrolled {
    background-color: white !important;
    position: fixed;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 0.6%;
    display: flex; 
    box-shadow: 5px 10px 50px -50px black;
}