<h1>Gallery Page</h1>
<div class="row">
<div class="col-12"> 
<a class="btn btn-primary" href="/">HOME</a>  
<img src="/img/B4963.png">
<img src="/img/B4965.png">
<a class="btn btn-success" href="#">Order Now</a>
</div>






