
<h1>HomePage: Welcome</h1>
<h2>This is the index.handlebars file</h2>
​
<p>We can construct full things here</p>
​
<a class="btn btn-primary" href="/menu">Click  me for the menu</a>
<a class="btn btn-success" href="/logout">LogOut</a>